/* style of smartphon */
body{
    background-color: black;
    color:white;
}
/* start of header */
header{
    background-color: red;
    width: 100%;
    height: 100px;
    margin-bottom: 10%;
}
header img{
    background-color: white;
    width: 15%;
    height:80px;
    margin: 2%;
    
}
header a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}
header p{
  text-decoration: none;
  color: white;
  font-size: 20px;

}
/* end of header */
main{ /* style  of the container of all the page */
    display: flex;
    flex-direction: column;
}
/* style of the article */
article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
article h1{
   padding-left:8%;
 
}
article p{
    padding-left: 2%;
}
article img{
    width:80%;
    margin-bottom: 5%;
   
}

/* end  of the style of the article */
/* ........................ */
/* style of the links of the aside partt */
aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
aside h4{
    margin-bottom: 8%;
   border-bottom: 2px solid white;
    padding-left: 5%;
    padding-bottom: 5%;
}
.aureArticle a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    margin-bottom: 5%;
    transition: all 2s;
}
.aureArticle img{
    width: 30%;
    height: 100px;
    margin-bottom: 2%;
padding-left: 5%;
padding-right: 5%;

}
.aureArticle a:hover{
transform: scale(1.3);

}

footer{
    display: flex;
    justify-content: flex-end;
    
}
footer img{
    width: 20%;
   
}
/* end of style of smartphon */
/* ....................... */
/* screen taplett */
@media screen and  (min-width:960px){/* style of the taplett */

    header{
        margin-bottom: 5%;
    height: 80px;
}
header img{
    width: 10%;
    height:50px; 
}
main{
    flex-direction: row;/* pour fair le parti aside a coter de l'article  */
    flex-wrap: wrap;
}
article{
    width: 50%;
    order: 1;
   margin-bottom: 5%;
}
aside{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
margin-left: 5%;
    width: 40%;
    order: 2;
    margin-top: 5%;
}
aside h4{
    margin-bottom: 8%;
   
}


footer {
    order:3;
  
}
}
@media screen and  (min-width:960px){/* pour changer le header dans version disktop  */
 
header img{
    width:5%;
    height:50px; 
    margin-top: 1%;
}
article{
    margin-bottom: 5%;
}

}