html {
    margin: 0;
    padding: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    color: white;
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;
    height: 1350px;
}

h1 {
   position: absolute;
   margin-top: -200px;
   margin-left: 400px;
   font-size: 4rem;
   letter-spacing: 5px;
   color: white;
   background: -webkit-linear-gradient(#ff105f, #ffad06);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.form-box {
    width: 400px;
    height: 510px;
    position: relative;
    margin: 25% auto;
    background: rgba(0, 0, 0, 0.8);
    padding-top: 5px;
    border-radius: 10px;
    overflow: hidden;
}  
.AlartBox{
    position: absolute;
    top:34%;
    /* justify-items: center; */
  text-align: center;
    width:80%;
    height: 30px;
    background-color: rgba(255, 255, 0, 0.226);
    margin-left: 10%;
    margin-bottom: 50%;
    color: black;
    transition: all 1s;
    color: red;
}  

.button-box {
    width: 230px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 3px 3px red;
    border-radius: 30px;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 120px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: 0.5s;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: white;
    font-size: 14px;
}


.input-group {
    display: flex;
    flex-direction: column;
    top: 100px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
    /* margin: auto 25px; */
}

.input-field {
    height: 25px;
    border: none;
    border-bottom: 1px solid white;;
    background: none;
    color: white;
    width: 100%;
    margin-top: 5px;
}

.label {
    margin-bottom: 5px;
    margin-top: 15px;
}

.check-box {
    display: flex;
    margin: 20px 15px 20px 0;
}

span {
    margin-left: 5px;
}

.submit-btn {
    display: block;
    background: linear-gradient(to right, #ff105f, #ffad06);
    width: 80%;
    padding: 12px 30px;
    color: white;
    font-size: 14px;
    margin: auto;
    border: 0;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
}

p {
    margin: 50px 70px;
}

p > a {
    color: white;
}

p > a:hover {
    color: rgb(243, 109, 109);
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}

/* Ecran desktop et tablette */

@media screen and (max-width: 1024px) {

    .form-box {
       margin-top: 400px;
    
    }    

    h1 {
        font-size: 3rem;
        margin-left: 100px;
        margin-top: -130px;
     }

     button.toggle-btn {
        font-size: 15px;
    }

    input.input-field {
        width: 105%;
    }

     button.submit-btn {
        padding: 13px 30px;
        font-size: 15px;
        width: 85%;
        margin-left: 35px;
    }


}

/* Ecran petite tablette */

@media screen and (max-width: 768px) {
    
    h1 {
        margin-top: -120px;
        margin-left: 70px;
        font-size: 2.2rem;
    }
    
    .form-box {
        position: relative;
        margin-top: 250px;
        width: 400px;
        height: 540px;
        overflow: hidden;
    } 
    
    .input-group {
        top: 100px;
        width: 75%;
    }

    input.input-field {
        font-size: 18px;
    }

    .label {
        margin-bottom: 5px;
        margin-top: 15px;
        font-size: 20px;
    }

    .check-box {
        font-size: 18px;
        margin: 20px 0 20px 0;
    }

    span {
        margin-right: 2px;
    }

    .button-box {
        width: 260px;
        margin: 25px 75px;
    }

    button.toggle-btn {
        font-size: 18px;
    }

    #btn {
        width: 150px;
    }

    button.submit-btn {
        padding: 13px 25px;
        font-size: 18px;
    }
    
}

/* Ecran grand smartphone */

@media screen and (max-width: 500px) {
    
    html {
        background-position: center;
        background-size: cover;
        height: 800px;
    }

    .form-box {
        width: 300px;
        height: 410px;
        margin: 50% auto;
    }   

    h1 > span {
        font-size: 23px;        
    }

    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 18%;

    }
    
    .input-group {
        top: 75px;
        width: 210px;
    }

    input.input-field {
        font-size: 13px;
        width: 100%;
    }

    .label {
        margin-bottom: 1px;
        margin-top: 10px;
        font-size: 13px;
    }

    .check-box {
        font-size: 13px;
        margin: 15px 0 15px 0;
    }

    span {
        margin: 3px;
    }

    .button-box {
        width: 200px;
        margin: 15px 57px;
    }

    button.toggle-btn {
        font-size: 11px;
    }

    #btn {
        width: 90px;
    }

    button.submit-btn {
        width: 90%;
        font-size: 12px;
        padding: 10px 25px;
        margin-left: 18px;
    }

    h1 {
    font-size: 1.2rem;
        margin-top: -70px;
     }

    p {
        margin: 50px 30px;
        font-size: 14px;
    }

}

/* Ecran mini smartphone */

@media screen and (max-width: 320px) {
    
    html {
        background-position: center;
        background-size: cover;
        height: 600px;
    }

    .form-box {
        width: 270px;
        height: 390px;
        margin: 40% auto;
    }   

    h1 {
        margin-left: 10%;
    }

    .input-group {
        top: 60px;
    }

    input.input-field {
        font-size: 11px;
        width: 95%;
    }

    .button-box {
        width: 200px;
        margin-left: 50px;
    }

    .label {
        font-size: 12px;
    }

    .check-box {
        font-size: 12px;
        margin: 15px 0 15px 0;
    }

    button.submit-btn {
        font-size: 12px;
        margin-left: 5px;
        width: 95%;
    }

}