body{
    background-color: black;
    color:white;
}
/* start of header */
header{
    background-color: red;
    width: 100%;
    height: 100px;
    margin-bottom: 10%;
}
header img{
    background-color: white;
    width: 15%;
    height:80px;
    margin: 2%;
    
}
header a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}
header p{
  text-decoration: none;
  color: white;
  font-size: 20px;

}
/* end of header */
main{
    display: flex;
    flex-direction: column;
}
article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
article h1{
   padding-left:8%;
 
}
article p{
    padding-left: 5%;
}
article img{
    width:80%;
    margin-bottom: 5%;
    
}
aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
aside h4{
    margin-bottom: 8%;
    text-decoration:underline;
    padding-left: 5%;
}
.aureArticle a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    margin-bottom: 5%;
   
}
.aureArticle img{
    width: 30%;
    height: 100px;
    margin-bottom: 2%;
padding-left: 5%;
padding-right: 5%;
}
footer img{
    width: 20%;
    float: right;
}
/* screen taplett */
@media screen and  (min-width:960px){

}